
#bg-dark{
    background-color: #2c3e50;
}

#banner{
    background-color: #18bc9c;
}


#colorsstart, #colors, #colors1, #colors2{
    color: rgb(252, 252, 252);
    font-family: 'Montserrat Black 900', sans-serif;;
}

#colorstart{
    font-size:small;
}